@model IEnumerable<Game>
@{
    ViewData["Title"] = "GameTracker";
}

<div class="text-center">
    <h2 class="display-4">GameTracker</h2>
    <h3>A place to keep track of your Wordle answers.</h3>
</div>				

<div class="row" >
    <div class="mx-auto">
        <a href="/Game/InsertGame/" class="btn btn-info my-3">Log a New Game</a>
        @*<button href="/Game/InsertGame/" class="btn btn-info my-3">Log a New Game</button>*@
             @*<a href="/Game/InsertGame/">Log a New Game</a>*@
    </div>
 </div>

<table class="table table-hover table-dark text-white">
    <tr>
        <th>Word ID</th>
        <th>Win/Loss</th>
        <th>Date of Game</th>
    </tr>
				
@foreach (var game in Model)
    {
        <tr onclick="window.location.href='/Game/ViewGame/@game.GameID';">
            <td>@game.WordID</td>
            <td>@game.WinLoss</td>
            <td>@game.Date.ToShortDateString()</td>
        </tr>
    }
				
</table>