@model IEnumerable<Game>
@{
    ViewData["Title"] = "GameTracker";
}

<div class="container text-center">
    <h3 class="display-4">GameTracker</h3>
    <h4>A place to keep track of your Wordle games.</h4>
</div>				

<div class="row" >
    <div class="mx-auto">
        <a href="/Game/InsertGame/" class="btn btn-info my-3 shadow-sm">Log a New Game</a>
    </div>
 </div>

<table class="table table-hover table-dark text-white">
    <thead>
        <tr>
            <th>Answer</th>
            <th>Outcome</th>
            <th>Game Date</th>
        </tr>
    </thead>

	<tbody>		
        @foreach (var game in Model)
            {
                string outcome = (@game.WinLoss) ? "Win" : "Loss"; //ternary for if true win, else false loss

                <tr style="cursor:pointer;" onclick="window.location.href='/Game/ViewGame/@game.GameID';">
                    <td>@game.WordName</td>
                    <td>@outcome</td>        
                    <td>@game.Date.ToShortDateString()</td>
                </tr>
            }
	</tbody>		
</table>