@model IEnumerable<Game>
@{
    ViewData["Title"] = "Game Tracker";
}
				
<h2>Game Tracker</h2>

<div style="display: block">
     <a href="/Game/InsertGame/">Log a New Game</a>
 </div>

<table class="table">
    <tr>
        <th>Word ID</th>
        <th>Win/Loss</th>
        <th>Date of Game</th>
    </tr>
				
@foreach (var game in Model)
    {
        <tr>
            <td><a href=/Game/ViewGame/@game.GameID>@game.WordID</a></td>
            <td>@game.WinLoss</td>
            <td>@game.Date.ToShortDateString()</td>
        </tr>
    }
				
</table>