@model Game
				
<h3>@Model.WordID Information</h3>
				
<table class="table">    <tr>        <th>Word ID</th>        <th>WinLoss</th>        <th>Date</th>    </tr>    <tr>        <td>@Model.WordID</td>        <td>@Model.WinLoss</td>        <td>@Model.Date</td>    </tr></table>