@{
    ViewData["Title"] = "Help for Wordle";
}

<div class="container text-center mb-4">
    <h3 class="display-4">WordleAssistant</h3>
    <h4>Helping you narrow down today's Wordle answer.</h4>
</div>

<div class="container">
    @*-------------------------this is the form container*@
    @using (Html.BeginForm("GuessCheck", "Guess", "Post"))
    {
        <div class="container mb-2">    @*--------------------this is the green letter container*@
            <div class="row justify-content-center">
                <div class="col col-lg-4"></div>
                <div class="col-12 col-lg-4 bg-success">
                    <div class="row justify-content-center mt-2">
                        <h5 style="text-shadow: 2px 2px 3px #3d3d3d;">Enter green letters in their exact spot.</h5>
                    </div>
                    <div class="row no-gutters mb-3 mx-5 mt-1">
                        <div class="col p-1 shadow-sm"><input type="text" name="B01" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B02" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B03" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B04" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B05" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                    </div>
                </div>
                <div class="col col-lg-4"></div>
            </div>
        </div>

        <div class="container mb-2">    @*---------------------this is the yellow letter container*@
            <div class="row justify-content-center">
                <div class="col col-lg-4"></div>
                <div class="col-12 col-lg-4 bg-warning">
                    <div class="row justify-content-center mt-3">
                        <h5 style="text-shadow: 2px 2px 3px #3d3d3d;">Enter any yellow letters.</h5>
                    </div>
                    <div class="row no-gutters mb-3 mx-5 mt-1">
                        <div class="col p-1 shadow-sm"><input type="text" name="B06" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B07" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B08" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B09" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B10" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                    </div>
                </div>
                <div class="col col-lg-4"></div>
            </div>
        </div>

        <div class="container">         @*---------------------this is the gray letter container*@
            <div class="row justify-content-center">
                <div class="col col-lg-4"></div>
                <div class="col-12 col-lg-4 bg-secondary">
                    <div class="row justify-content-center mt-3">
                        <h5 style="text-shadow: 2px 2px 3px #3d3d3d;">Enter up to 10 gray letters.</h5>
                    </div>
                    <div class="row row no-gutters mx-5 mt-1">
                        <div class="col p-1 shadow-sm"><input type="text" name="B11" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B12" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B13" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B14" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B15" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                    </div>
                    <div class="row row no-gutters mb-3 mx-5 mt-1">
                        <div class="col p-1 shadow-sm"><input type="text" name="B16" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B17" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B18" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B19" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                        <div class="col p-1 shadow-sm"><input type="text" name="B20" pattern="[a-zA-Z]" title="No spaces, numbers, or special characters." class="form-control" value="" maxlength="1" /></div>
                    </div>
                </div>
                <div class="col col-lg-4"></div>
            </div>
        </div>

        <div class="container">    @*--------------------this is the button container*@
            <div class="row justify-content-center">
                <div class="col col-lg-4"></div>
                <div class="col-12 col-lg-4">
                    <div class="row justify-content-center mt-3">
                        <input type="submit" value="Submit" class="btn btn-info shadow-sm" />

                        <a class="btn btn-secondary ml-2 border border-info" data-toggle="collapse" href="#hint" role="button" aria-expanded="false" aria-controls="hint">Hint?</a>
                        <div class="collapse" id="hint">
                            <div class="card card-body bg-secondary bg-opacity-25 text-white text-center mt-2">
                                To begin, try choosing 2 words with no letters in common, like "resin" and "loath."  <br>Then enter your Wordle results above.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4"></div>
            </div>
        </div>
    }
</div>
