@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p class="mt-3">Letters entered into WordleAssistant are stored in your browser's local history.</p>
<p>Data entered into GameTracker is stored in a database for your future reference.  This data includes your answer, the outcome of your game, and the date.</p>
<p>This app does not sell your information.</p>
