@model ResultViewModel
@{
    ViewData["Title"] = "Help for Wordle";
}
<div class="container">
    <div class="row" >
    <div class="mx-auto">
        <button onclick="history.back()" class="btn btn-info my-3 shadow-sm">Return to Guess</button>
        <a href="/Game/InsertGame/" class="btn btn-success my-3 shadow-sm mx-1">Log Your Game</a>
    </div>
 </div>

    <div class="row my-1">
        <div class="col col-lg-4"></div>
        <div class="col-12 col-lg-4">
             <table class="table table-hover table-dark text-white">  @*this is the Potential Answers table*@
                <thead class="text-center">
                    <tr>
                        <th class="border-top-0">@Model.TableHeadMessage</th>
                    </tr>
                </thead>
                
	            <tbody class="text-center">		
                    @foreach (var word in Model.Words)
                        {
                            <tr>
                                <td>@word.Name</td>
                            </tr>
                        }
	            </tbody>		
            </table>
        </div>
        <div class="col col-lg-4"></div>
    </div>
</div>